# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
``` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

In [166]:
import pandas as pd
import requests

In [167]:
# 1) seu código aqui
sinasc = pd.read_csv('SINASC_RO_2019.csv')
print(sinasc.shape)
sinasc.drop_duplicates().shape
# Não há duplicados

(27028, 69)

(27028, 69)

In [168]:
# 2) seu código aqui
df = sinasc
df.isna().sum()

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

In [169]:
# 3) seu código aqui
df.loc[:, ['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']].isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [170]:
# 4) seu código aqui
print("Número total de linhas: " + str(len(df)))
print("Número de linhas eliminadas: " + str(df['APGAR5'].isna().sum()))
df.dropna(subset=['APGAR5'],inplace=True)
print("Número de linhas restantes: " + str(len(df)))

Número total de linhas: 27028
Número de linhas eliminadas: 103
Número de linhas restantes: 26925

In [171]:
# 5) seu código aqui
df.loc[:, ['ESTCIVMAE', 'CONSULTAS']].fillna(9)

       ESTCIVMAE  CONSULTAS
0            5.0          4
1            2.0          4
2            9.0          4
3            5.0          3
4            2.0          4
...          ...        ...
27023        2.0          4
27024        1.0          4
27025        2.0          4
27026        2.0          4
27027        5.0          4

[26925 rows x 2 columns]

In [177]:
# 6) Seu código aqui
df.loc[:, ['QTDFILVIVO']].fillna(0)

       QTDFILVIVO
0             0.0
1             1.0
2             2.0
3             0.0
4             1.0
...           ...
27023         1.0
27024         0.0
27025         0.0
27026         1.0
27027         1.0

[26925 rows x 1 columns]

Warning: total number of rows (26925) exceeds max_rows (20000). Limiting to first (20000) rows.

In [173]:
# 7) seu código aqui
df.loc[:, ['ESCMAE', 'GRAVIDEZ', 'GESTACAO']].fillna('Não Preenchido')

                ESCMAE GRAVIDEZ         GESTACAO
0          8 a 11 anos    Única  37 a 41 semanas
1          8 a 11 anos    Única  37 a 41 semanas
2          8 a 11 anos    Única  37 a 41 semanas
3      12 anos ou mais    Única  37 a 41 semanas
4          8 a 11 anos    Única  37 a 41 semanas
...                ...      ...              ...
27023  12 anos ou mais    Única  32 a 36 semanas
27024      8 a 11 anos    Única  37 a 41 semanas
27025      8 a 11 anos    Única  37 a 41 semanas
27026      8 a 11 anos    Única  32 a 36 semanas
27027      8 a 11 anos    Única  37 a 41 semanas

[26925 rows x 3 columns]

In [174]:
# 8) seu código aqui
df.loc[df['APGAR5'] >= 8, 'APGAR_Cat'] = 'Normal'
df.loc[(df['APGAR5'] >= 6) & (df['APGAR5'] <= 7),'APGAR_Cat'] =  'Asfixia Leve'
df.loc[(df['APGAR5'] >= 4) & (df['APGAR5'] <= 5), 'APGAR_Cat'] = 'Asfixia Moderada'
df.loc[(df['APGAR5'] >= 0) & (df['APGAR5'] <= 3), 'APGAR_Cat'] = 'Asfixia Severa'

df['APGAR_Cat'].value_counts()

Normal              26463
Asfixia Leve          320
Asfixia Severa         74
Asfixia Moderada       68
Name: APGAR_Cat, dtype: int64

In [162]:
# 9) seu código aqui
df.rename(str.lower, axis='columns', inplace=True)